* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #66B9BF;
    font-family: 'Inter';
    font-style: normal;
}

nav {
    background-color: #66B9BF;
    height: 10vh;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    margin-top: -10vh;
    height: 100vh;
}

#title {
    color: #07889B;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    padding-top: 70px;

    text-align: center;
}

.subtitle {
    color: #07889B;
    font-weight: 700;
    line-height: 77px;
    text-align: center;
    margin-bottom: 50px;
}

#profile {
    padding-top: 10vh;
    margin-top: -10vh;
}

.box {
    display: flex;
}


.organization {
    width: 1000px;
    color: #FFFFFF;
    font-weight: 700;
}

.organization .period {
    font-size: 32px;
    line-height: 39px;
    align-items: center;
}

.organization .name {
    font-size: 48px;
    line-height: 58px;
    align-items: center;

}

.organization .description {
    font-size: 32px;
    line-height: 39px;
    align-items: center;
}

#certificates {
    padding-top: 10vh;
    margin-top: -10vh;
}

#certificate_content {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(20%, 1fr) auto minmax(20%, 1fr);
    grid-template-rows: repeat(3, auto);
}

#certificate_content p {
    color: white;
    font-weight: 700;
    line-height: 58px;
    grid-column: 2;
}


#languages {
    padding-top: 10vh;
    margin-top: -10vh;
    width: 90%;
    margin: auto;
}

#works {
    padding-top: 10vh;
    margin-top: -10vh;
}

.carousel-inner {
    max-height: 400px;
}
.carousel-inner img {
    margin: auto;
}